

header {
  display: flex;
  height: 750px;
  background: url(../assets/image/Background_Intro.png) no-repeat center/cover;
  justify-content: center;
  align-items: center;
  

  .container {
    display: flex;
    margin: 220px 163px 183px;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header-image {
      margin-bottom: 56px;
    }

    .header-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
      & h1 {
        margin-bottom: 20px;
      }

      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }
  }

  img {
    width: 112px;
    height: 112px;

}
}  

.button-service {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  margin-top: 80px;
  margin-bottom: 96px;
  gap: 16px;

  .button-item {
    display: flex;
    background-color: var(--gray-300);
    border-radius: 30px;
    padding: 8px 16px;
    gap: 8px;


  }

}

.button-service img {
  width: 24px;
  height: 24px;
  
}

.button-service span {
 color: var(--gray-500);
}


#pointer {

img {
  width: 32px;
  height: 32px;
}

}